.caja {

  /* border:solid;*/
  
    width: 50%;
   
    margin: 0px auto;


}
.cajafondo{

background:url("../img/goku-fodo.jpg") no-repeat;
 background-size: cover; 
opacity: 0.5;
height: 100%;
width: 100%;
position: fixed;
filter: grayscale(1);
z-index: -1;
}




.caja .mifoto{
 border-radius: 20em;
box-shadow: 0 0 0.5em rgba(0,0,0,0.5em);

cursor:pointer;
}