

/* h1{

  text-align: center;

}



header{

background-color: gray;

}


.container-fluid{

  margin-left: 110px;
}


.carousel-inner{

padding: 6px;


}
.cajafondo {
  background-color: burlywood;
  background-image: url("../img/fondo.jpg");
 opacity: 0.9;
 height: 100%;
width: 100%;

 filter: grayscale(1); 
position: fixed;
z-index: -1;
}
 */



/* .containertres{

  padding-right: 29px;

} */

body{
  background-color: white;
   /* background-image:url("../img/background8.jpg"); */
   
  
}

.containerbody{
display: flex;
flex-direction: column;
font-family: 'Raleway', sans-serif;


}
.containerheader{

  background-color: grey;
}


/* .containerheader{} */


.container-uno {
  height:auto;
  width:1000px;
   /* border:solid 1px;  */
    display: flex; 
  justify-content: center;
 flex-direction: column; 
  text-align: justify;
  opacity: 0.93;
  }

  .navbar-light .navbar-nav .nav-link.active{

    color: white;
  }

  .navbar-light .navbar-brand {
    color: white;
}

  
h4{

font-style: italic;
font-family: 'Waiting for the Sunrise', cursive;
color: white;

}
h1{
padding-left: 20px;
padding-top: 20px;
  color:white;
  font-family: 'Waiting for the Sunrise', cursive;
  font-style: italic;
height: 100px;
border-bottom:solid 1px;
border-top: solid 1px;
}

.containerheader{

border-bottom: solid 1px;


}



  /* .containerbody {

    display: flex;
    
   flex-direction: column;
   

  } */



.row div[class^="col"]{
  /* margin:10px 10px 10px 10px; */
 /* justify-content: center;  */
 
 /* height: auto;
 width: auto;
  */
/* background-color: aqua;  */
/* border:solid 1px; */

} 

.containerfooter {
  background-color: #22272d; 
 color: black;
 font-family: 'Waiting for the Sunrise', cursive;    
     
 }
 
 .containerfooter h4{

padding-top: 10px;
color:black;
 font-family: 'Waiting for the Sunrise', cursive;      
 text-align: center;
 font-size: 26px;
 }





/* @media screen and (max-width:768px) { 
  
  .containerfooter{
display: flex;
  
} */


  
  
 




 /* @media screen and (min-width:900px) { 
  
  .alto-100{

  height: 100vh;

} */


  
  
 



/* img-fluid {

height: 600px;

} */

/* h2{
text-align: center;
} */
/* 
.containerfooter{


background-color: lightgrey;

} */
/* 
.containerbodydos{

margin-left: 200px;

} */

 /* .containerbodyuno  {
display:flex;
justify-content: center;

} */

.containerbody-1{
height: 1200px;
width: 1500px;
border: solid 2px;
display:flex;
flex-direction: column;
justify-content: center;
align-items: center;
}



.hijo1{
  border:solid 1px;
  height:300px ;
  width: 300px;
  background-color: blanchedalmond;
}
.hijo2{
  border:solid 1px;
  height:300px ;
  width: 300px;
  background-color: lightgreen;


}
.hijo3{
  border:solid 1px;
  height:300px ;
  width: 300px;
  background-color:lightgray;
}